* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* NAVIGATION STYLING */
.Nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 55px;
  text-align: center;
  background-color: rgb(193, 171, 144);
}

/* FORK ICON STYLING */
.Nav .fork i {
  font-size: 35px;
  padding: 15px;
  border-radius: 40px;
  color: white;
  background-color: rgb(223, 130, 84);
}

.text {
  font-size: 30px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

/* FORM STYLING */

.Nav .form {
  border-radius: 37px;
  border: 2px solid rgba(224, 222, 222, 0.735);
  align-items: center;
  display: flex;
  padding: 5px 11px;
  gap: 20px;
  background-color: rgb(207, 205, 205);
  height: 70px;
}

.Nav .form input::placeholder {
  font-size: 20px;
}

/* NAV SEARCH ICON */

.Nav .form .text_2 {
  border-radius: 25px;
  background-color: rgb(223, 130, 84);
  text-align: center;
  padding: 10px;
  transition: all 3s ease-in-out;
}

.Nav .form .text_2:hover{
background-color: rgb(231, 181, 53);
}

.Nav .form .text_2 i {
  font-size: 24px;
  padding-right: 10px;
  color: rgb(40, 40, 40);
  /* margin-right: 30px; */
}



.Nav .form input {
  width: 300px;
  height: 35px;
  font-size: 24px;
}

/* ADD RECIPE & BOOKMARK STYLING */

.Nav .h2 {
  font-size: 30px;
}

.Nav_icons {
  display: flex;
  gap: 24px;
  font-size: 28px;
  border-radius: 5px;
  padding-left: 10px;
  color: rgb(41, 40, 40);
  padding-right: 14px;
}

.Nav .Add_recipe i {
  font-size: 35px;
  padding: 15px;
  border-radius: 40px;
  color: rgb(223, 130, 84);
}

.Add {
  font-size: 20px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
/* COPY STYLING */

.copyright {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 42%;
  width: 800px;
  background-color: white;
}


.copy {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  width: 100%;
}

.smile {
  font-size: 15px;
  text-align: center;
  padding: 5%;
  width: 100%;
  background-color: rgb(193, 171, 144);
}
